.jumbotron{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}

/*----------------
HEADER
-----------------*/
.cabecalho{
	width: 100%;
	height: 120px;
}

.logo-music-park{
	width: 132px;
	height: 94px;
	margin-top: 20px;
	background-image: url("../img/logo_music_park_132x94.png");
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
}

.botao{
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.botaoin{
	width: 45px;
	margin-left: auto;
	margin-right: auto;
}